__pycache__/
.ipynb_checkpoints/*
callback/*
singularity/tmp/*
log/*
.local/*
src/__pycache__/*

config.ini
*.sif
run.sh
chokosen-loveti.*
*.out

tmp/*

*.npy

Cardsformer/runs/*
Cardsformer/trained_models/*
Cardsformer/wandb/*

!.gitkeep

run.sh