__pycache__/
.ipynb_checkpoints/*
callback/*
singularity/tmp/*
log/*
.local/*
src/__pycache__/*

config.ini
*.sif
run.sh
chokosen-loveti.*
*.out

tmp/*

*.npy

Cardsformer/runs/*
Cardsformer/trained_models/*
Cardsformer/wandb/*
Cardsformer/trained_policy_model/*
Cardsformer/experiment/prediction_policy_cycle/policy_models/*
Cardsformer/experiment/prediction_policy_cycle/prediction_data/*
Cardsformer/experiment/prediction_policy_cycle/prediction_models/*


bot/*
**/res/**



!.gitkeep

run.sh